
<div class="card bg-light">
        <!-- Les informations au profil d'utilisateur -->
    <div class="info-perso text-center mb-5">
        
        <p><a routerLink="/dashbord/profil"><img src="../../../assets/img/logo/download.png" alt=""></a></p>
        <div class="userName"><h5>Giles Toure</h5></div>
                
        <div class="role"><h6>Styliste Modeliste</h6></div>
        <div class="workshop"><h6>La Sape Du Jardin</h6></div>
        <div class="address"><h6>Abidjan Rue J24 BP 0055</h6></div>
          
        
    </div>
    <!-- lien des differents modules du dashboard -->
    <div class="link-btn text-center ">
        <div class="btn"><a routerLink="/dashboardadmin/historiquecouturier">Historique</a></div><br>
        <div class="btn"><a routerLink="/dashboardadmin/catalogue">Catalogue</a></div><br>
        <div class="btn"><a routerLink="/dashboardadmin/commandecouturier">Commandes</a></div><br>
        <div class="btn"><a routerLink="/dashboardadmin/tissu">Tissus</a></div><br>
        <div class="btn"><a routerLink="/dashboardadmin/listelivreur">Livreurs</a></div><br>
        
        <div class="btn"><a routerLink="/dashboardadmin/facture">Factures</a></div><br>
        <div class="btn"><a routerLink="/dashboardadmin/listereclamation">Reclamations</a></div><br>
    </div>
</div>
