
.info-perso{
  
    background-color: #bc07fe;
  
    border-radius:  0px 0px 10px  10px;
    box-shadow: 0px 0px 2px  2px rgb(102, 105, 106);

}


p a img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
p a {
    color: white;
    text-align: center;
}

.btn{
  
    width: 150px;
    border: 1px solid rgb(45, 42, 42);
    margin-top: 10px;   
} 

.btn :hover {
    background-color: rgb(191, 194, 196);
}

.btn a{
    
    color: #D980FA !important ;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.card{
    padding: 0px;
    height: 6 00px;
}

/* .btn a{
    color: #D980FA !important ;
    font-size: 28px !important;
    font-weight: bold !important;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 15px;
    padding-top:  10px;
    width: 200px;
   
} */