<div class="container">
    <div class="form">
        <form action="">
            <label for="">Entrer votre user name ou votre adress email</label> <br>
            <input type="text" name="" class="form-control" id="">

            <label for="">Mot de passe</label> <br>
            <input type="text" name="" class="form-control" id="">
        </form>
        <div class="remenber"><p>j'ai n'est pas de compte, <a href="">  s'incrire </a> </p></div><br>
        <div class="remenber"><p>j'ai oublier mon mot de passe</p></div>
    </div>
</div>
