

<div class="row m-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5 bg-light">
        <div class="title mt-5 mb-5"><h1>CONNEXION</h1></div>
        <div class="container">
            <div class="form">
                <form action="">
                    <label for="">Entrer votre user name ou votre adress email</label> <br>
                    <input type="text" name="" class="form-control" id="">
        
                    <label for="">Mot de passe</label> <br>
                    <input type="text" name="" class="form-control" id="">
                    <div class="remenber">j'ai oublier mon mot de passe,  <a href=""> rappelez moi </a></div><br>

                    <input type="submit" name="" class="form-control mt-4 bg-success" id="" value="Connexion">
                </form> <br>
               
                <div class="register">j'ai n'est pas de compte, <a  routerLink="/register" class="btn bg-primary">  s'incrire </a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>