
<div class="container-fluid d-flex">
    <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://i.pinimg.com/474x/05/d0/9d/05d09d49a3ae2e085acba2405f5b7f39.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">commander</a>
        </div>
      </div>
    
      <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://i.pinimg.com/474x/05/d0/9d/05d09d49a3ae2e085acba2405f5b7f39.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">commander</a>
        </div>
      </div>

</div>
