
<div class="container-fluid d-flex">
    <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://www.cdiscount.com/pdt2/3/6/7/1/300x300/auc3334517464367/rw/wax-pagne-tissu-africain-hitarget-6-yards-100-cot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" id="liveToastBtn">ajouter</button>
        </div>
      </div>
    
      <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://www.cdiscount.com/pdt2/3/6/7/1/300x300/auc3334517464367/rw/wax-pagne-tissu-africain-hitarget-6-yards-100-cot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" id="liveToastBtn">ajouter</button>
        </div>
      </div>

      <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://www.cdiscount.com/pdt2/3/6/7/1/300x300/auc3334517464367/rw/wax-pagne-tissu-africain-hitarget-6-yards-100-cot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" id="liveToastBtn">ajouter</button>
        </div>
      </div>

      <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://www.cdiscount.com/pdt2/3/6/7/1/300x300/auc3334517464367/rw/wax-pagne-tissu-africain-hitarget-6-yards-100-cot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" id="liveToastBtn">ajouter</button>
        </div>
      </div>

      <div class="card p-2 m-4" style="width: 18rem;">
        <img src="https://www.cdiscount.com/pdt2/3/6/7/1/300x300/auc3334517464367/rw/wax-pagne-tissu-africain-hitarget-6-yards-100-cot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pagne Baoule</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-primary" id="liveToast">ajouter</button>
        </div>
      </div>
      
</div>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>