

.container .navbar{
    height: 70px;
    border: 2px solid red;
    margin-top: 15px;
    background-color: blueviolet;
}

.container .sidebar{
    /* height: 70px; */
    width: 300px;
    height: 350px;
    border: 2px solid red;
    margin: 15px;
    background-color: rgb(43, 2, 125);
}

.container .container-dashbord{
    /* height: 700px; */
    width: 860px;
    border: 2px solid red;
    margin: 15px;
    /* background-color: blueviolet; */
}

.container .footer-dashbord{
    height: 70px;
    
    border: 2px solid red;
    margin-top: 15px;
    background-color: rgb(14, 13, 15);
}

.container .dashbord{
    /* height: 70px; */
    border: 2px solid red;
    margin-top: 15px;
    display: flex;
    
    /* background-color: blueviolet; */
}

.container .statut{
    height: 150px;
    border: 2px solid red;
    /* margin-top: 15px; */
    display: flex;
    
    background-color: rgb(238, 234, 242);
}

.cardstatut{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    margin: 15px;
    /* display: flex; */
    
    background-color: rgb(210, 237, 9);
}
.add , .table{
    margin: 15px;
}

.show-list{
    border: 2px solid red;
    margin-top: 15px;
    /* background-color: rgb(14, 13, 15); */
}
table{
    width: 100%;
}
.sidebar{
    color: white;
    text-align: center;
    font-weight: bold;
}


