<div class=" sidenav  ">
   

    <div class="info-perso text-center">
        
        <p><a routerLink="/dashbord/profil"><img src="../../../assets/img/logo/download.png" alt=""></a></p>
        <div class="userName"><h5>Giles Toure</h5></div>
                
        <div class="role"><h6>Styliste Modeliste</h6></div>
        <div class="workshop"><h6>La Sape Du Jardin</h6></div>
        <div class="address"><h6>Abidjan Rue J24 BP 0055</h6></div>
          
        
    </div>

    <div class="link-btn">
        <div class="btn"><a routerLink="/dashboardcouturier/historiquecouturier">Historique</a></div><br>
        <div class="btn"><a routerLink="/dashboardcouturier/catalogue">Catalogue</a></div><br>
        <div class="btn"><a routerLink="/dashboardcouturier/commandecouturier">Liste des commandes</a></div><br>
        <div class="btn"><a routerLink="/dashboardcouturier/listelivreur">Voir tous les livreurs</a></div><br>
        <div class="btn"><a routerLink="dashboardcouturier/listereclamation">Reclamations</a></div><br>
    </div>

</div>