<div class=" sidenav  ">


    <div class="info-perso text-center">
        <p><a routerLink="/dashbord/profil"><img src="../../../assets/img/logo/download.png" alt=""></a></p>
        <p><a href="#">
                <h6>Giles Toure</h6>
            </a></p>
        <p><a href="#">Styliste Modeliste</a></p>
        <p><a href="#">La Sape Du Jardin</a></p>
        <p><a href="#"> Abidjan Rue J24 BP 0055 </a></p>
    </div>

    <div class="link-btn">
        <div class="btn"><a routerLink="/dashboard/inscription">Accueil</a></div><br>
        <div class="btn"><a routerLink="#">Historique</a></div><br>
        <div class="btn"><a routerLink="/dashboard/catalogue">Ajouter au Catalogue</a></div><br>
        <div class="btn"><a href="#">Liste des commandes</a></div><br>
        <div class="btn"><a routerLink="/dashbord/livreurs">Voir tous les livreurs</a></div><br>
        <div class="btn"><a href="#">Notification</a></div>
    </div>

</div>