
<div class="title"><h1>list-livreur-disponible works!</h1></div>

<div class="container">
  <table>
    <thead class="bg-primary">
        <th class="p-2 no"><h3>No</h3></th>
        <th><h3>Image</h3></th>
        <th><h3>Libelle</h3></th>
        <th><h3>Description</h3></th>
        <th><h3>Prix</h3></th>
        <th colspan="2" class="text-center"> <h3>Action </h3></th>
    </thead>
    <tbody class="bg-light">
        <tr>
            <td class="p-2"><h4></h4></td>
            <td class="p-2"><img src="" alt="" height="100"></td>
            <td><h4></h4></td>
            <td><h5></h5></td>
            <td></td>
            <td><input type="button" value="Valider" class=" btn"></td>
            <td><input type="button" value="Supprimer" class="bg-danger btn"></td>
        </tr>
    </tbody>
</table>
</div>