<app-nav></app-nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container mt-5 justy" style="margin-top:10%">

    <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>IMG</th>
            <th>LIBELLE</th>
            <th>PRIX</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://i.pinimg.com/564x/78/ec/f0/78ecf0a17302febfeea5f89783baa0f3.jpg" alt="" height="150" width="200"></td>
            <td>Robe en pagne</td>
            <td>40.000 f</td>
          </tr>
          <tr>
            <td><img src="https://www.cdiscount.com/pdt2/3/6/7/1/300x300/auc3334517464367/rw/wax-pagne-tissu-africain-hitarget-6-yards-100-cot.jpg" alt="" height="150" width="200"></td>
            <td>Pagne trèfles</td>
            <td>25.000 f</td>
          </tr>
          
        </tbody>
      </table>

      <div class="Btn d-flex">
        <a routerLink="/view"> <input type="button" name="" id="" class="form-control bg-primary m-5" value="Commander " style="width: 200px;"></a>
        <a routerLink="/view"> <input type="button" name="" id="" class="form-control bg-danger m-5" value="Annuler " style="width: 200px;"></a>  
      </div>
     
</div>