

 <!-- footer start -->
 <div class="container-fluid">
    <div class="footer p-3">

       
        <div class="container mb-4 tb pb-4">

            <div class="row ">
                <div class ="col-md-4">
                    <div class="title"><h4>Titre1</h4></div>
                    <div class="">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nam voluptates expedita delectus facere tempora, nihil nobis placeat optio numquam atque in rerum iure impedit velit deserunt illum. Dolorum, tenetur.
                    </div>
                </div>
                <div class ="col-md-4">
                    <div class="title"><h4>Titre2</h4></div>
                    <div class="">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nam voluptates expedita delectus facere tempora, nihil nobis placeat optio numquam atque in rerum iure impedit velit deserunt illum. Dolorum, tenetur.
                    </div>
                </div>
                <div class ="col-md-4">
                    <div class="title"> <h4>titre3</h4></div>
                    <div class="">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia nam voluptates expedita delectus facere tempora, nihil nobis placeat optio numquam atque in rerum iure impedit velit deserunt illum. Dolorum, tenetur.
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrigth text-center">
            <p> copyrigth Made By Gbamele alexandre@ - 2023/Mars</p>
        </div>
    </div>
</div>

<!-- footer start -->
