<!-- < <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>couturier page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head> -->
<!-- 
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <ul> -->

<!-- 
                        <i class="fa fa-user m-4"></i>
                        <i class="fa-solid fa-bell"></i>
                        <i class="fa fa-question-circle m-4" aria-hidden="true"></i>


                    </ul>

    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col-4 left-bar bg-primary ">
                <div class="title">Accueil</div>
                < <div class="title">Photo</div> -->
                <!-- <div class="title">Nom et prenom</div>
                <div class="title">Role</div>
             
                <div class="title">Information personnelle</div>
                <div class="title">Historique</div>
                <div class="title">voir les publication</div>
                <div class="title">Notification</div>
                <div class="title">Voir tous les atelier</div> -->

                <!-- <div class="statut">actif/occupe/indisponible</div> -->
                 
                <!-- Liste des icon necessaires -->

                <!-- <div class="commentaire"><i class="fa-solid fa-comment-exclamation"></i>commentaire</div>
                <div class="modifier"><i class="fa-solid fa-comment-exclamation"></i>modifier</div>
                <div class="voir-plus"><i class="fa-solid fa-circle-ellipsis-vertical"></i>voir plus</div>
                <div class="etoil"><i class="fa-light fa-star"></i>etoil</div>
                <div class="entreprise"><i class="fa-duotone fa-shop"> entrepise</i></div>
                <div class="livreur"><i class="fa-solid fa-person-carry-box"></i>livreur</div>
                <div class="album"><i class="fa-solid fa-folder"></i> album photo</div>
                <div class="rdv"><i class="fa-solid fa-calendar"></i>RDV</div> -->
<!--                 
            </div>
            <div class="col-8">
                <h1>Info commande </h1>
                <div class="form">
                    <div class="container m-5">
                    <fieldset>
                        <legend>Commande</legend>
                        <table>
                            <tr>
                                <td><label for="">Nom Entreprise</label></td>
                                <td> <input type="text"></td>
                            </tr>
                            <div class="title"><h3>Adresse</h3></div>
                            <tr>
                                <td><label for="">Ville</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Rue</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Code Postal</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">tel</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Fax</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <div class="title"><h3>A</h3></div>
                            <tr>
                                <td><label for="">Nom</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Prenom</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">ville</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">rue</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Code Postal</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <div class="title"><H4>Adresse de livraison</H4></div>
            
                            <tr>
                                <td><label for="">ville</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Rue</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">code postal</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">Tel</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="">email</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
            
                            <tr>
                                <td><label for="">No.C</label></td>
                                <td><input type="text" name="" id=""></td>
                            </tr>
            
                        </table>
                    </fieldset>
                </div>
                    <div class="container m-5">
                        
                    
                        <FIeldset>
                            <legend></legend>  -->
                            <!-- <table>
                            <thead>
                                <th>DATE B.C</th>
                                <th>REVEVEUR</th>
                                <th>TRANSIT</th>
                                <th>POINT FP.O.B</th>
                                <th>MODALITES</th>
                            </thead>
                            <Tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Du a la livraison</td>
                                </tr>
                            </Tbody>
                        </table>
                        </FIeldset>
                    </div>
                     <
                    <<div class="container m-5">
                    < <legend></legend> -->
                     <table>
                        <thead>
                            <th>QUANTITE</th>
                            <th>UNITE</th>
                            <th>DESCRIPTION</th>
                            <th>PRIX UNITAIRE</th>
                            <th>TOTAL</th>
                        </thead>
                        <Tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>SOUS TOTAL</td>
                                <td>$.</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>TVA</td>
                                <td>$.</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>MONTANT DEDUIT</td>
                                <td>$.</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>FRAIS LIVAISON</td>
                                <td>$.</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>AUTRE</td>
                                <td>$.</td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>TOTAL</td>
                                <td>$.</td>
                            </tr>
                        </Tbody>
                    </table>
                 


                 <div class="container">
                    <h1>Contenant de dashbord</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, ipsam quod! Harum molestias aliquam ut doloribus distinctio iste cupiditate, eligendi voluptatem nobis provident accusantium ab sequi blanditiis nihil mollitia? Ducimus?</p>
                 </div>