<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
           
            </div>
            
            <table border="2">
                <thead>
                    <tr>
                        <td colspan="3">
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    <div class="nom-entreprise">Nom entreprise : </div>
                                    <div class="address-email-entreprise">email : </div>
                                    <div class="tel-entreprise">tel :</div>
                                </div>
                                <div class="col-md-6">
                
                                </div>
                        </td>
                        <td colspan="3">
                            
                            <div class="col-md-6">
                                <div class="nom-entreprise">Nom et prenom client : </div>
                                <div class="address-email-entreprise">email : </div>
                                <div class="tel-entreprise">tel : </div>
                            </div>
                            
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="6">
                            <h2>
                                FACTURE NUMERO 000023
                            </h2>
                        </td>
                        
                    </tr>
                    <tr>
                        <td><h3>CodeProd</h3></td>
                        <td><h3>LibelleProd</h3></td>
                        <td><h3>PU</h3></td>
                        <td><h3>Qte</h3></td>
                        <td><h3>Montant</h3></td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>Prod-00099A</td>
                        <td>Pagngne bleu</td>
                        <td>25900</td>
                        <td>2</td>
                        <td>25900 x 2</td>
                    </tr>
                    
                </tbody>

            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>