<div class="container">
    <form action="">
               
        <h1>Formulaire commande</h1>
    <br>
    <label for="">le nom du modele</label><br>
    <div class="card">
        <img src="" alt="Le modele a coudre"><br>
    </div>
    <label for="pagne">Le pagne</label>
    <div class="card">
        <img src="" alt="Le pagne"><br>
    </div>
    
    <input type="checkbox" name="" id=""> je confirme ce modele
    <input type="checkbox" name="" id=""> Non je souhaiterais changer <br>
    <input type="button" name="" id="" value="Enregistrer">
    </form>
</div>

