
<div class="container bg-light">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="add-btn text-center m-5">
                <a routerLink="/dashboardadmin/addtissu"><button class="bg-primary">Ajouter</button></a>  
            </div>
            
            <table>
                <thead class="text-center bg-primary">
                    <th class="p-3">
                        <h3>Id</h3>
                    </th>
                    
                    <th class="p-3">
                        <h3>Image</h3>
                    </th>
                    <th class="p-3">
                        <h3>Image</h3>
                    </th>
                    <th class="p-3">
                        <h3>Libelle</h3>
                    </th>
                    <th class="p-3">
                        <h3>Description</h3>
                    </th>
                    <th class="p-3">
                        <h3>Prix</h3>
                    </th>
                </thead>
                <tbody class="mt-2">
                    <tr class=" mb-3">
                        <td class=""><h3>1</h3></td>
                       
                        <td class=""><h3><img src="" alt="image"></h3></td>
                        <td class=""><h3>codeProd</h3></td>
                        <td class=""><h3>Pagne Lobi</h3></td>
                        <td class=""><h3>Pagne Traditionnel des peuples du nord de la cote d'ivoire</h3></td>
                        <td class=""><h3>25000 F</h3></td>
                    </tr>
                    <tr class=" mb-3">
                        <td><h3>2</h3></td>
                        
                        <td class=""><h3>image</h3></td>
                        <td class=""><h3>codeProd</h3></td>
                        <td class=""><h3>Pagne Lobi</h3></td>
                        <td class=""><h3>Pagne Traditionnel des peuples du nord de la cote d'ivoire</h3></td>
                        <td class=""><h3>25000 F</h3></td>
                    </tr>
                    <tr class=" mb-3">
                        <td><h3>3</h3></td>
                        <td><h3>image</h3></td>
                        <td><h3>codeProd</h3></td>
                        <td><h3>Pagne Lobi</h3></td>
                        <td><h3>Pagne Traditionnel des peuples du nord de la cote d'ivoire</h3></td>
                        <td><h3>25000 F</h3></td>
                    </tr>
                    <tr class=" mb-3">
                        <td><h3>2</h3></td>
                        
                        <td class=""><h3>image</h3></td>
                        <td class=""><h3>codeProd</h3></td>
                        <td class=""><h3>Pagne Lobi</h3></td>
                        <td class=""><h3>Pagne Traditionnel des peuples du nord de la cote d'ivoire</h3></td>
                        <td class=""><h3>25000 F</h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>