
<!-- list atelier start-->
<div class="container">
    <div class="title text-center mb-5 mt-5"><h2>Top Atelier</h2></div>
    <div class="row mt-5 mb-5">
        <div class="col-md-2" *ngFor="let item of listeatelier">
            <div class="atelier-title text-center mb-2">{{item.atelierName}}</div>
            <div class="card ">
                <div class="model">
                    
                    <img src="{{item.imgUrl}}"
                        class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>