



.container .navbar{
    height: 70px;
    border: 2px solid red;
    margin-top: 15px;
    /* background-color: #D980FA; */
}

/* Navbar style */
.navbar{
    border-bottom: 2px solid #18A0FB;
}
.nav-link{
    color: #D980FA !important ;
    font-size: 28px !important;
    font-weight: bold !important;
}

.col-md-3 .card img{
    /* width: 100%; */
    height: 200px;
}

.container-fluid .baniere{
    height: 200px;
    border: 2px solid #D980FA;
    margin-top: 15px;
    background-color: #18A0FB;
    background-color: #D980FA;
}



.title{
    border-bottom: #18A0FB solid 5px;
    margin-left: 400px;
    margin-right: 400px;
    color: #D980FA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: gainsboro(23 5 -7);
}


.container .navbar{
    height: 70px;
    border: 2px solid red;
    margin-top: 15px;
    /* background-color: #D980FA; */
}

/* Navbar style */
.navbar{
    border-bottom: 2px solid #18A0FB;
}
.nav-link{
    color: #D980FA !important ;
    font-size: 28px !important;
    font-weight: bold !important;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.nav-link :hover{
    background-color: #18A0FB;
}

ul li a{
    text-decoration: none;
}
ul li :hover{
    background-color: #c4d3df;
}

/* =========logo style ============= */

#navbarSupportedContent img{
    margin-right: 30px;
    width: 60px;
}

/* carousel style */

.col-md-3 .card img{
    /* width: 100%; */
    height: 200px;
}

.container-fluid .baniere{
    height: 200px;
    border: 2px solid #D980FA;
    margin-top: 15px;
    background-color: #18A0FB;
    background-color: #D980FA;
}

/* ================les icons ============================
    
*/
.fa-shopping-cart{
    font-size: 30px;
    margin-top: 25px;
    margin-left: 10px;
}

.fa-user{
   
    color: #D980FA;
    font-size: 35px;  
}
.login{ margin-right: 10px;}



/* ==========Formulaire de recherche ============================ */

.forminput{
    margin-top: 10px;
    /* height: 20px; */
}

form{
    margin-left: 100px;
}

.formbtn{
    height: 30px;
    margin-top: 10px;
}



.col-md-2 .card, .col-md-2 .card .model img {
    height: 150px !important;
}

.footer{
    background-color: #D980FA;
}

/* style inscription */
.container .bg-warning{
    height: 500px;
    width: 800px;
}
/* .mll-5{
    margin-left: 350px;
} */
.row .col-md-4 .card, .row .col-md-4 .card .model img{
    width: 300px !important;
    height: 300px !important;
}
.sc-1 .card, .sc .card img {
    width: 100% !important;
    /* height: 100px!important; */
    
}


.telcom .card{
    background-color: #18A0FB;
   
}
.m-row{
    background-color: #18A0FB;
}

.title{
    border-bottom: #18A0FB solid 5px;
    margin-left: 400px;
    margin-right: 400px;
    color: #D980FA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: gainsboro(23 5 -7);
}
.dashboard{
    margin-left: 20px;
    margin-right: 20px;
}
  

.login-text{
    margin-left: 4px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 15px;
}