<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center d-flex">
                <div class="count text-center"><h1>0%</h1></div>
                <div class="title text-center">
                    <h4>Commande En cours</h4>
                </div>
            </div>
           
        </div>
        <div class="col-md-4">
            <div class="card text-center d-flex">
                <div class="count text-center"><h1>0%</h1></div>
                <div class="title text-center">
                    <h4>Commande En cours</h4>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card text-center d-flex">
                <div class="count text-center"><h1>0%</h1></div>
                <div class="title text-center">
                    <h4>Commande En cours</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>