    
    <app-nav></app-nav>
            
    <!-- <app-banniere></app-banniere> -->
    <br><br><div class="title text-center"> <h1> Vos Ateliers</h1> </div>
    <div class="slide">
       
        <app-slide></app-slide>
    </div>
    
    <div class="container mb-5">
        <div class="title text-center"> <h1> Vos Ateliers</h1> </div>
        <app-atelier></app-atelier>
    </div>

    <div class="container mb-5">
        <div class="title text-center"> <h1> Vos Modele</h1> </div>
        <app-view-catalogue></app-view-catalogue>
    </div>
   
    <div class="container mb-5">
        <div class="title text-center mb-5"> <h1> Vos Motifs</h1> </div>
        <app-tissu-view></app-tissu-view>
    </div>
    <app-footer></app-footer>
   
