/* 
*{
  margin: 0 !important;
  padding: 0 !important;
} */

/* Navbar style */
.navbar{
  border-bottom: 2px solid #18A0FB;
}
.nav-link{
  color: #D980FA !important ;
  font-size: 28px !important;
  font-weight: bold !important;
}

      /* style du sidebar */
     
      .logo{
        margin-left:-350px;
        
      }
    .accueil{
        margin-left: -250px;
        margin-right: 40px;
    }

    .accueil a{
      color: #D980FA !important ;
      font-size: 28px !important;
      font-weight: bold !important;
      border: 1px solid rgb(46, 44, 44);
      border-radius: 15px;
      padding-top:  10px;
     
  }

  .accueil a{
    color: #D980FA !important ;
    font-size: 28px !important;
    font-weight: bold !important;
    border: 1px solid rgb(46, 44, 44);
    border-radius: 15px;
    padding-top:  10px;
   
}
  
  .accueil :hover{
    background-color: #c4d3df;
  }
  