

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="logo">
      <img src="../../../assets/img/logo/logo.png" alt="logo" height="50" width="50">
  </div>
    <a class="navbar-brand" routerLink="/view">Accueil</a>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav>