
<div class="container d-flex">
    <div class="d-flex">
        <div class="card orange-card"><img src="../../../../assets/img/logo/Orange_Money-Logo.wine.png" alt=""></div>
        <div class="card wave-card"><img src="../../../../assets/img/logo/wave.png" alt=""></div>
        <div class="card paypal-card"><img src="../../../../assets/img/logo/Paypal_2014_logo.png" alt=""></div>
        <div class="card visa-card"><img src="../../../../assets/img/logo/visa.png" alt=""></div>
    </div>
</div>