.btn{
    border-radius: 10px;
    width: 100px;
    height: 25px;
    background-color: rgb(86, 86, 212);
    margin: 17px;
    
}
.btn a {
    color: white;
    text-decoration: none;
}
/* .container{
    padding: 50px 180px 0px 180px ;
} */
.add{
    margin-left: 230px;
    
}
.no{
    color: red;
}